body{
  width: 100vw;
}
.restro-container{
  margin: 0 10%;
}
.restro-btn{
  width: 128px;
  height: 34px;
  cursor: pointer;
}
/* // headerContainer  */
.header-container{
height: 200px;
background-color: #f3c300;
color: #373b44;
position: relative;
}
.header-container h1{
position: absolute;
bottom: 8px;
}
.navigation-bar{
  width: 100%;
}
.navigation-bar ul{
  padding: 0;
display: flex;
justify-content: space-around;
    list-style: none;
    width: 100%;
}
.navigation-bar li a{
  text-decoration: none;
}
@media all and (max-width: 390px) {
  .navigation-bar ul li a {
   display: flex;
   flex-direction: column;
  }
}

.is-active{
  color: '#383b44';
}
/* Profile Uploader   */
.page{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container{
    transform: translateY(-160px);
    height: 300px;
    width: 33%;
    border-radius: 10px;
    
  }
  .heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-weight: bold;
  
  }
  .img-holder{
    margin: auto;
    width: 150px;
    height: 150px;
    border: 3px #383b44 solid;
    border-radius: 50%;
    margin-top: 1rem;
  }
  .img{
    width: 100px;
    height: 100px;
    margin: 25px;
    object-fit: cover;
  }
  #input[type="file"] {
      display: none;
  }
  .label{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .image-upload{
    margin: auto;
    width: 200px;
      height: 50px;
    color: #000;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }
  #coverImage-upload {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100px;
    margin: 0;
  }
  @media all and (max-width: 1190px) {
    #coverImage-upload {
      right: 200px;
    }
  }


  .page .container {
    position: relative;
  }
  form#standard-full-width{
    position: absolute;
    right: 22rem;
    top: 56%;
  }

  /* Menu Cards  */
  #menu_items {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #menu_items td, #menu_items th {
    border: 1px solid #ddd;
    padding: 18px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  
  #menu_items th {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #868d86;
  }
  #menu_items th strong {
  position: absolute;
  top: 9px;
  margin-left: 4px;
  }
  .restro-container img{
    width: 100px;
    height: 80px;
    margin-right: 20px;
  }
  .restro-container {
    margin-top: 60px;
  }
  .restro-container table td .food-Item{
    display: flex;
  }
  #standard-full-width textarea {
    margin-top: 20px;
  }
  textarea#restro_review{
    position: relative;
  }
  #standard-full-width label[for = "restro-description"] {
    /* position: absolute;
    top: 10px; */
  }
  .description-section{
    margin: auto;
    width: 50%;
    margin-bottom: 28px;
  }
 
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  .addBtn:hover {
    background-color: #bbb;
  }
  tr#food_list:before{
    /* content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px; */
  }
  .Menu-upload-form{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    /* background-color: #868d86; */
    padding: 40px 20px;
    color: #fff;
  }
  .menu-entry button{
    margin-bottom: 20px;
  }
  .foodImage-Upload input {
    opacity: 0;
  }
  .save-menu{
    /* border: 2px solid #e0e0;
    justify-content: center; */
  }